* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
}

#header{
    background-color: #f20000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

ul{
    list-style: none;
}

li{
    
}

li:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}